* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 830px;
    background: url('../img/bg/top_background.png') center center/cover no-repeat;
    padding: 39px 0px 69px 0px;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 50px;
}

.title {
    color: #f9bf3b;
    font-weight: 900;
    font-size: 41px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0px 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);

    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border-radius: 4%;
}

.more {
    margin-top: 73px;

}

.more .more_txt {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 55px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.finish .finish_header {
    color: #efefef;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.optimization {
    position: relative;
    min-height: 550px;
    padding: 0px 0 0px 0;
}

.optimization .container{
    padding: 30px 0px 0px 0px;
}


.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 35px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span{
    font-weight: 700;
}

.optimization .optimization_img{
    position: absolute;
    height: 550px;
}

.finish {
min-height: 447px;
padding: 15px 0 140px 0;
background: url('../img/bg/finish_bg.jpg') center center/cover no-repeat;
}

.finish .finish_header, .finish_divider{
    margin-top: 40px;
}
.finish .finish_wrapper {
    margin-top: 380px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
    
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 50%;

}

.finish .finish_wrapper .finish_item .finish_descr{
   margin-top: 15px;
   text-align: center; 
   color: #efefef;
   font-family: Roboto;
   font-size: 17px;
   font-weight: 300;
   line-height: 20px;
}

.gift {
    min-height: 628px;
    padding: 50px 0 87px 0;
    background-color: #efefef;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    width: 154px;
}

.gift .gift_text {
    width: 1131px;
    margin-top: 42px;
    color: #252525;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}

.gift .gift_btn{
    margin-top: 52px;
}

.first .first_img{
    display: block;
    margin: 0 auto;
    width: 252px;
    margin-top: 70px;
}

.first .first_text{
min-width: 447px;
color: #252525;
font-family: Roboto;
font-size: 30px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
margin-top: 37px;
}

.first .first_date{
min-width: 577px;
min-height: 26px;
color: #299cbd;
font-size: 36px;
font-weight: 900;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
margin-top: 30px;
}

.first .first_subtitle{
width: 548px;
min-height: 23px;
color: #4a4a4a;
font-size: 23px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 20px;
text-align: center;
margin: 0 auto;
margin-top: 25px;
}

footer{
    margin-top: 64px;
    padding-top: 61px;
    position: relative;
    min-height: 166px;
    background-color: #1a1a1a;
}

.info{
    display: block;
    margin: 0 auto;
    width: 377px;
    min-height: 36px;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}
.info a{
    text-decoration: none;
    color: #888888;
}

.info_links .underlined{
    text-decoration: underline;
}


